<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FModel.Properties.Settings>
            <setting name="FPak_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FOutput_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FPak_MainAES" serializeAs="String">
                <value />
            </setting>
            <setting name="FRarity_Design" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="FLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="FIsFeatured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FUseWatermark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FWatermarkFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FWatermarkOpacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FWatermarkScale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FWatermarkXPos" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FWatermarkYPos" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FChallengeWatermark" serializeAs="String">
                <value>{BundleName} - {Date}</value>
            </setting>
            <setting name="FUseChallengeWatermark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FBannerFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FBannerOpacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FDiffFileSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeaderVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusBarVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FPrimaryColor" serializeAs="String">
                <value>21:32:43</value>
            </setting>
            <setting name="FSecondaryColor" serializeAs="String">
                <value>29:161:242</value>
            </setting>
            <setting name="FUpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReloadAES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FOpenSounds" serializeAs="String">
                <value>True</value>
            </setting>
        </FModel.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SkiaSharp" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
