<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FModel.Properties.Settings>
            <setting name="ExtractOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="FortnitePAKs" serializeAs="String">
                <value />
            </setting>
            <setting name="mergerFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="mergerImagesRow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="createIconForCosmetics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createIconForConsumablesWeapons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createIconForTraps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createIconForVariants" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createIconForChallenges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IconName" serializeAs="String">
                <value />
            </setting>
            <setting name="wSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="wOpacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="isWatermark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </FModel.Properties.Settings>
    </userSettings>
</configuration>