<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <FModel.Properties.Settings>
            <setting name="PAKsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtractOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="createIconForCosmetics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createIconForVariants" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createIconForConsumablesWeapons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createIconForTraps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createIconForChallenges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="loadFeaturedImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="wOpacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="isWatermark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mergerFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="mergerImagesRow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AESKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UMCosmetics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UMVariants" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UMConsumablesWeapons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UMTraps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UMChallenges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UMSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UMOpacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UMWatermark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UMFeatured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UMTCosmeticsVariants" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UMTLoading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UMTWeapons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UMTBanners" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UMTFeaturedIMGs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UMTAthena" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UMTDevices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UMTVehicles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UMFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createIconForAmmo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createIconForSTWDefenders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createIconForSTWHeroes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="createIconForSTWCardPacks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="eEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="ePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="IconLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="challengesDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="challengesWatermark" serializeAs="String">
                <value />
            </setting>
        </FModel.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>