<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.5.4" targetFramework="net471" />
  <package id="Cyotek.Windows.Forms.ColorPicker" version="1.7.2" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net471" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="RestSharp" version="106.6.10" targetFramework="net471" />
  <package id="TweetMoaSharp" version="6.0.0" targetFramework="net471" />
</packages>